p {
    font-size: 20px;
}
h1 ,p {
    margin: 0 auto;
    width: 50%;
    font-size: 20px; 
}

h1{
    text-align: center;
    margin: 0 auto;
    width: 50%;
    font-size: 24px; 
    padding-top: 25px;
    padding-bottom: 25px;
}
.container {
    display: flex;
}

img {
    
    width: 20%%;
    height: auto;
    top: 34; 
    left: 35%; 
    transform: translateX(2%);
    
}

.content {
    flex: 1; 
}
.h1,h2 {
    font-size: 30px;
}
.p{
    font-size: 20px;

}
.ul{
    font-size: 35px;
}
.ul {
    cursor: pointer; 
    transition: all 0.3s; 
}

.ul[open] summary {
    color: rgb(202, 14, 14);
}
.a   {
    
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
    display: inline-block;
}

.link {
    text-decoration: none;
    color: #3498db;
    margin: 0 10px;
}