*{
    box-sizing: border-box;
}
p {
    margin: 0 auto;
    width: 50%;
    font-size: 25; 
}
.title{
    text-align: center;
    margin: 50px;
}

.container {
    display: flex;
}
img {
    position: absolute;
    margin: auto 15px;
    width: 20%;
    height: auto; 
}

.p{
    font-size: 25px;
}
a{
    color: rgb(17, 17, 17);
}
.ul{
    font-size: 25px;
}
.ul {
    cursor: pointer; 
    transition: all 0.3s; 
}